.movie-layouts {
  display: grid;
  grid-template-columns: repeat(4); /* Desktop */
  
}


@media (max-width: 1600px) {
  .movie-layouts {
    grid-template-columns: repeat(4);
  }
}


/* Tablets */
@media (max-width: 1200px) {
  .movie-layouts {
    grid-template-columns: repeat(3);
  }
}

/* Small tablets */
@media (max-width: 900px) {
  .movie-layouts {
    grid-template-columns: repeat(2);
  }
}

/* Phones */
@media (max-width: 530px) {
  .movie-layouts {
    grid-template-columns: 1fr;
  }
}
